* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --main-color: #007f73;
    --text-color: #000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-color);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--bg-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo:hover {
    color: var(--snd-bg-color);
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.7rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: all 0.3s ease;
}


.navbar a:hover,
.navbar a:active {
    color: var(--text-color);
    transform: scale(1.1);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
}

/* home section code */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color)
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-content h3:nth-of-type(2) {

    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #64dbc0 ;
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.2) translateY(-10px);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: none;
    letter-spacing: 0.1rem;
}

.btn:hover {
    background: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.1) translateY(-5px);
}